<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO,I'M SHAHADAT HUSSAIN UI/UX DESIGNER</title>

</head>
<style>


    body{
        padding:0;
        margin:0;

    }
    .disp-flex{
        display:flex;
    }
    .flex-justify-space{
        justify-content:space-between;
    }
    .p-10{
        padding:10x;
    }
    nav{
        background-color: black;
    }
    .no-decor{
        text-decoration: none;
    }
    .no-decor:hover{
    }
</style>
<body>



    <p>Md.shahadat</p>
<div>
    <a>Work</a>
    </div>
    <div>
    <a>Service</a>
    </div>
    <div>
     <a>About</a>
     </div>
     <div>
    <a>Contact</a>

    </div>


    <div>
        <h1>HELLO,I'M
        <br> SHAHADAT HUSSAIN 
        <br>
        UI/UX DESIGNER</h1>

    </div>


    <div>
        <a>Linkdin</a>
        </div>
        <div>
        <a>Twitter</a>
        </div>
        <div>
         <a>Stack</a>
         </div>
         


</body>
</html>